html,
body,
ul,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  border-width: 0;
  margin: auto;
  padding: 0;
  font-size: 16px;
  line-height: inherit; }

body {
  line-height: 1.5; }

a {
  color: #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav {
  color: white;
  text-transform: uppercase;
  padding: 0 calc(50% - 560px); }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 10px; }
    .nav__item:nth-child(6) {
      padding-right: 0;
      margin-right: 0; }
    .nav__item_active {
      background-color: rgba(45, 45, 45, 0.5);
      border-radius: 8px;
      margin-left: -20px; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }

.nav__footer {
  display: none;
  margin-top: 20px;
  padding-left: 24px; }
  .nav__footer .nav__link-phone,
  .nav__footer .nav__link-active {
    font-size: 14px;
    line-height: 16px;
    color: white; }

@media screen and (max-width: 930px) {
  .nav__list {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 700px;
    font-size: 22px;
    line-height: 22px;
    padding: 10px 0;
    margin-bottom: -50px;
    list-style: none;
    background-color: #6565b6;
    z-index: 1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__link {
    display: block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .nav__item_active {
    margin-left: 10px; }
  .menu__span,
  .menu__span::before,
  .menu__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .menu__span::before {
    content: "";
    top: -8px; }
  .menu__span::after {
    content: "";
    top: 8px; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .nav__list {
    visibility: visible;
    top: 0; }
  .menu__btn {
    display: block;
    position: absolute;
    top: 55px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3; }
  .nav__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .header__nav {
    position: relative; } }

.header {
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: bold;
  line-height: 1;
  padding: 0 calc(50% - 560px); }
  .header__nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__phone, .header__action {
    opacity: 1;
    text-decoration: none;
    color: white;
    margin: 56px 0;
    padding: 10px 0; }
  .header__phone-icon {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 40px;
    height: 21px;
    width: 21px;
    background: url(../images/phone-icon.png) no-repeat center;
    background-size: cover;
    cursor: pointer; }
  .header__tittle {
    position: absolute;
    top: 440px;
    font-size: 60px;
    color: white; }
    .header__tittle:before {
      content: "";
      position: absolute;
      left: 0;
      top: -16px;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background-color: white; }
  .header__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase;
    cursor: pointer; }
    .header__link:hover {
      color: #9fadc2; }

@media screen and (max-width: 930px) {
  .header__tittle {
    position: relative;
    font-size: 46px;
    line-height: 40px;
    margin-left: 40px; }
  .header__link {
    opacity: 0; }
  .header__phone-icon {
    opacity: 1; }
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 24px;
  z-index: 3; }

.section {
  padding: 100px calc(50% - 560px);
  position: relative; }
  .section__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em; }

@media screen and (max-width: 930px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    margin-left: 0;
    margin-top: 0; }
  .info__text {
    max-width: 500px; }
  .info__text-link {
    font-size: 24px;
    line-height: 30px;
    text-decoration: none; }

@media screen and (max-width: 930px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      padding-bottom: 20px; } }

.heading {
  font-size: 48px;
  position: absolute;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: auto;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos__wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
    @media (max-width: 930px) {
      .photos__wide_left .photos__img:first-child {
        width: calc(50% - 10px); } }
  .photos__wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
    @media (max-width: 930px) {
      .photos__wide_left .photos__img:last-child {
        width: calc(50% - 10px); } }
  .photos__wide_right .photos__img:first-child {
    width: calc(33% - 10px); }
    @media (max-width: 930px) {
      .photos__wide_right .photos__img:first-child {
        width: calc(50% - 10px); } }
  .photos__wide_right .photos__img:last-child {
    width: calc(67% - 10px); }
    @media (max-width: 930px) {
      .photos__wide_right .photos__img:last-child {
        width: calc(50% - 10px); } }

.gallery__caption {
  margin: 12px 0 35px; }

.gallery__button {
  max-width: 44px auto 0; }

.button {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #0075ff;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 19px 62px;
  margin-top: 20px;
  text-transform: uppercase; }
  .button:hover {
    background-color: #0075ff;
    color: white; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px; }
  .consultation .consultation__info {
    margin-bottom: 32px; }
  .consultation__form {
    width: 413px; }
  .consultation .consultation__heading-link {
    font-size: 24px;
    line-height: 30px;
    text-decoration: none; }

@media screen and (max-width: 930px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 8px; }
  .form__input, .form__button {
    display: block;
    width: 100%;
    height: 48px; }

.input {
  font-size: 14px;
  line-height: 14px;
  text-align: start;
  color: #b9c1ce;
  background-color: #f7f8ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px; }
  .input::-webkit-input-placeholder {
    padding-left: 0;
    color: black; }
  .input::-moz-placeholder {
    padding-left: 0;
    color: black; }
  .input:-ms-input-placeholder {
    padding-left: 0;
    color: black; }
  .input::-ms-input-placeholder {
    padding-left: 0;
    color: black; }
  .input::placeholder {
    padding-left: 0;
    color: black; }
  .input__textarea {
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
    height: 144px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
    resize: none; }

@media screen and (max-width: 930px) {
  .input {
    margin-top: 10px; } }

.testimonials {
  display: grid;
  grid-gap: 90px;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 930px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-gap: 50px; } }

.person {
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%; }
  .person__name {
    margin-top: 28px;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold; }
  .person__position {
    color: #9fadc2;
    margin-bottom: 13px; }

@media screen and (max-width: 930px) {
  .person {
    max-width: 400px;
    margin: 0 auto; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    line-height: 27px;
    width: 413px;
    margin-bottom: 32px; }
  .contact__text_items {
    color: #3e3e3e;
    margin-bottom: 8px; }

@media screen and (max-width: 930px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contact .contact__link {
      display: block;
      margin-bottom: 32px; } }

.footer {
  height: 359px;
  position: relative;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; }

html {
  font-family: "Roboto", sans-serif;
  background: #eee; }

/*# sourceMappingURL=main.css.map */
