html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3 {
  border-width: 0;
  margin: auto;
  padding: 0;
  font-size: 16px;
  line-height: inherit; }

body {
  line-height: 1.5; }

a {
  color: #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.nav {
  color: white;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 38px; }
    .nav__item_active {
      background-color: rgba(45, 45, 45, 0.5);
      border-radius: 8px; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

@media screen and (max-width: 890px) {
  .nav__list {
    display: none; } }

.header {
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: bold;
  line-height: 1; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white; }
  .header__phone, .header__action {
    margin: 46px 120px;
    padding: 10px; }
  .header__tittle {
    position: absolute;
    top: 414px;
    font-size: 60px;
    color: white;
    margin-left: 120px; }
    .header__tittle:before {
      content: "";
      position: absolute;
      left: 0;
      top: -16px;
      width: 35px;
      height: 2px;
      border-radius: 2px;
      background-color: white; }
  .header__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase;
    cursor: pointer; }
    .header__link:hover {
      color: #9fadc2; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 24px; }

.section {
  padding: 100px calc(50% - 510px);
  position: relative; }
  .section__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em; }

@media screen and (max-width: 890px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    font-size: 48px;
    line-height: 48px;
    margin-left: 0;
    margin-top: 0; }
  .info__text {
    max-width: 500px; }
  .info__text-link {
    font-size: 24px;
    line-height: 30px;
    text-decoration: none; }

@media screen and (max-width: 890px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      padding-bottom: 20px; } }

.heading {
  font-size: 48px;
  position: absolute;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: auto;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos__wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos__wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:last-child {
    width: calc(67% - 10px); }

@media screen and (max-width: 890px) {
  .photos {
    display: block; } }

.gallery__caption {
  margin: 12px 0 35px; }

.gallery__button {
  max-width: 44px auto 0; }

.button {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #0075ff;
  background-color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 19px 62px;
  text-transform: uppercase; }
  .button:hover {
    background-color: #0075ff;
    color: white; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px; }
  .consultation__form {
    width: 413px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 8px; }
  .form__input, .form__button {
    width: 100%;
    height: 48px; }

.input {
  font-size: 14px;
  line-height: 14px;
  text-align: start;
  color: #b9c1ce;
  background-color: #f7f8ff;
  padding-left: 17px; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
